.speech {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
}
.stage-direction {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    background-color: darkcyan;
}
.name {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.stage-direction:hover {
    background-color: cadetblue;
    color:bisque;
}
.thaliard {
    color:darkorange;
}
.helicanus {
    color:deeppink;
}
.canyaman {
    color:firebrick;
}
table,
th,
td{
    background-color:darkviolet
    border: 5px solid greenyellow;
    border-collapse: collapse;
    width: auto;
    margin: left;
    text-align: center;
    padding: 23px;
    border-spacing: 5px;
    background-color:rosybrown;
    
}

.name:hover{
    text-shadow: 2px 2px red;
}


img{
    height: 250px;
    width: 250px;
}

